<header class="header container">
    <a href="/" class="header-logo">
        <img src="/images/messa-studio.png" alt="Messa Studio" width="250" height="70">
    </a>
    <nav class="header-nav">
        <a href="#proyectos">Proyectos</a>
        <a href="#sobre">Sobre Messa</a>
        <a href="#contacto">Contacto</a>
        <a href="https://www.instagram.com/messa.j.m/" target="_blank" rel="noopener">Instagram</a>
    </nav>
    <button class="header-burger-btn">
        <span></span>
        <span></span>
    </button>
</header>

<div class="mobile-nav">
    <a href="#proyectos" class="mobile-nav-link">Proyectos</a>
    <a href="#sobre" class="mobile-nav-link">Sobre Messa</a>
    <a href="#contacto" class="mobile-nav-link">Contacto</a>
    <a href="https://www.instagram.com/messa.j.m/" target="_blank" rel="noopener" class="mobile-nav-link">Instagram</a>
</div>